.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageLinks {
  margin: 5rem 0;
}

.pageLink {
  margin: 1rem 0;
}

.logo {
  width: 200px;
}
